header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #fff;
}

#list {
    display: flex;
    margin: 0;
    list-style: none;
}

.list-element {
    font-size: 15px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    margin: 20px;
}

.list-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #202020;
}

