header {
    width: 100%;
    height: 8vh;
    background-color: aliceblue;
}

#list {
    display: flex;
    margin: 0;
    list-style: none;
}

.list-element {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #202020;
    margin: 20px;
}