header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #fff0;
    position: absolute;
}

#list {
    display: flex;
    margin: 0;
    list-style: none;
}

.list-element {
    font-size: 15px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    margin: 20px;
}

.list-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

#prev {
    width: 100%;
    height: 100vh;
    display: flex;
}

#img-girl {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#search {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70vw;
    height: 6vh;
    background-color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}

#button-search {
    position: absolute;
    left: 32%;
    top: 65%;
    width: 35vw;
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #c33636;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

