header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #fff0;
    position: absolute;
}

#list {
    display: flex;
    margin: 0;
    list-style: none;
}

.list-element {
    font-size: 15px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    margin: 20px;
}

.list-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

#prev {
    width: 100%;
    height: 100vh;
}

#img-girl {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#text-prev {
    font-size: 100px;
    width: 700px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    margin: 0;
    position: absolute; 
    top: 35%;
    left: 12%;
    mix-blend-mode: overlay;
    color: aliceblue;
    letter-spacing: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: aquamarine;

}